---
---

@import "minimal-mistakes/skins/air";

@import "minimal-mistakes";

*:not(i):not(.fas):not(.fab):not(.far) {
  font-family: "Merriweather", Georgia, serif !important;
}

.masthead, 
.masthead__inner-navigation, 
#site-nav {
  background-color: #0092cb !important; 
  border-bottom: none !important;
}

.site-title, 
.site-title:visited,
.masthead__menu-item a {
  color: #ffffff !important;
}