---
---

@import "minimal-mistakes/skins/air";

@import "minimal-mistakes";

.masthead, 
.masthead__inner-navigation, 
#site-nav {
  background-color: #0092cb !important; 
  border-bottom: none !important;
}

.site-title, 
.site-title:visited,
.masthead__menu-item a {
  color: #ffffff !important;
}

.masthead__menu-item a:hover {
  color: #eedde3 !important; 
}